@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap) format('ttf');
}

body {
  background: #1d351f; /* Main green background */
  color: #ffffff; /* White text */
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 14pt;
  min-width: 60em;
}
img { border:0; }
a { outline:0; }
main, figure, figcaption { display:block; }
pre, code { font-family: "Source Code Pro", monospace; }
header, main {
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: #e6be9a; /* Light brown for links */
}
a:hover, a:focus {
  color: #6f0f11; /* Red for hover transitions */
}
h1, h2 {
  font-size: 1em;
  font-weight: normal;
}
code {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
code:before {
  z-index: -1;
  content: "";
  position: absolute;
  display: block;
  left: -2px;
  right: -2px;
  top: 3px;
  bottom: 0px;
  border: 1px solid #325832; /* Secondary green */
  background: #1d351f; /* Main green */
}
pre.wrap {
  max-width: 100%;
  white-space: pre-wrap;
}

.quiet {
  opacity: .5;
}
p.wrap {
  width: 45em;
}

.hidden-until-hover {
  border: 1px dotted #e6be9a; /* Light brown */
  overflow: hidden;
  position: relative;
  padding: 0 .5em;
  transition: border-color 0s linear 5s;
}
.hidden-until-hover:before {
  content: "(hover to reveal)";
  position: absolute;
  opacity: .5;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  transition: width 0s linear 5s;
}
.hidden-until-hover > * {
  visibility: hidden;
  transition: visibility 0s linear 5s;
}
.hidden-until-hover:hover {
  transition: border-color 0s linear 1s;
  border-color: transparent;
}
.hidden-until-hover:hover:before {
  content: "( keep hovering )";
  transition: width 0s linear 1s;
  width: 0;
}
.hidden-until-hover:hover > * {
  transition: visibility 0s linear 1s;
  visibility: visible;
}

.warning:not(.warning-active) {
  transition: color 1s, opacity 1s;
}
.warning-active {
  color: #6f0f11; /* Red for warnings */
  opacity: 1;
}

.star-count {
  color: #e6be9a; /* Light brown for emphasis */
}
.supporter-badge {
  color: #e6be9a; /* Light brown */
}
a.supporter-badge:hover, a.supporter-badge:focus {
  text-decoration: none;
  color: #6f0f11; /* Red on hover */
  text-shadow: 0 0 5px #e6be9a;
}
.sponsor-badge {
  color: #e6be9a; /* Light brown */
}
a.sponsor-badge:hover, a.sponsor-badge:focus {
  text-decoration: none;
  color: #6f0f11; /* Red on hover */
  text-shadow: 0 0 5px #e6be9a;
}

#sidebar {
  width: 200px;
  float: right;
  margin: 0 15px 2em 2em;
  position: relative;
  z-index: 10;
}
#sponsor {
  margin-bottom: 2.5em;
}

header {
  white-space: nowrap;
  cursor: default;
  z-index: 100;
  margin-bottom: 2em;
}
header h1 {
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}
header h1 a, header h1 span {
  display: inline-block;
  text-decoration: none;
  color: #e6be9a; /* Light brown */
  text-shadow: 0 0 2px #e6be9a, 0 0 5px #e6be9a;
}
header h1 a:hover, header h1 a:focus {
  color: #6f0f11; /* Red on hover */
  text-shadow: 0 0 2px #6f0f11, 0 0 5px #6f0f11;
}
header h1.title-event .title-event-wrap {
  opacity: .33;
  white-space: pre;
}
header .user {
  display: inline-block;
  padding-left: 1em;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
header nav li {
  display: inline-block;
  padding: 0 .6em;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

input[type="text"], textarea {
  background: transparent;
  color: inherit;
  border: 1px solid #e6be9a; /* Light brown */
  background: #1d351f; /* Main green */
  padding: 0 2px;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}
textarea {
  vertical-align: top;
}

label img {
  vertical-align: bottom;
  position: relative;
  top: -3px;
  margin-right: .3em;
}
input[type="radio"] { display: none; }
input[type="radio"] ~ span {
  cursor: pointer;
  display: inline-block;
}
input[type="radio"] ~ span:before {
  content: "( ) ";
}
input[type="radio"] ~ span:hover, input[type="radio"] ~ span:focus {
  background-color: #325832; /* Secondary green */
}
input[type="radio"]:checked ~ span {
  color: #ffffff;
}
input[type="radio"]:checked ~ span:before {
  content: "(O) ";
}
input[type="checkbox"] { display: none; }
input[type="checkbox"] ~ span {
  cursor: pointer;
  display: inline-block;
}
input[type="checkbox"] ~ span:before {
  content: "[ ] ";
}
input[type="checkbox"] ~ span:hover, input[type="checkbox"] ~ span:focus {
  background-color: #325832; /* Secondary green */
}
input[type="checkbox"]:checked ~ span {
  color: #ffffff;
}
input[type="checkbox"]:checked ~ span:before {
  content: "[X] ";
}
input[type="checkbox"]:disabled ~ span {
  opacity: .3;
  cursor: default;
}
input[type="checkbox"]:disabled ~ span:before {
  content: "[-] ";
}
input[type="checkbox"]:disabled ~ span:hover {
  background-color: transparent;
}


input[type="submit"] {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: #e6be9a; /* Light brown */
  cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  color: #6f0f11; /* Red on hover */
}
*::-moz-focus-inner {
  padding: 0;
  border: 0
}

article {
  width: 45em;
  margin-bottom: 2em;
  margin-top: 2em;
}
article:first-of-type {
  margin-top: 0;
}
article h2 {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: nowrap;
}
article h2 + * {
  margin-top: 0;
}
article em {
  color: #ffffff;
  font-style: normal;
  text-shadow: 0 0 5px #ffffff;
}
article em.star {
  color: #e6be9a; /* Light brown for stars */
  font-style: normal;
  text-shadow: 0 0 5px #e6be9a;
}
article a {
  white-space: nowrap;
}
article .aside {
  opacity: .6;
}
article ul {
  list-style-type: none;
  padding: 0;
}
article li {
  padding-left: 2.5em;
  position: relative;
}
article li:before {
  content: "\00a0\00a0-\00a0";
  position: absolute;
  left: 0;
  top: 0;
}
.day-success {
  color: #e6be9a; /* Light brown */
  text-shadow: 0 0 5px #e6be9a;
}

form#settings input[type="radio"] ~ span {
  min-width: 30em;
}
form#settings input[type="checkbox"] ~ span {
  min-width: 30em;
}

.share {
  color: #e6be9a; /* Light brown */
  cursor: default;
  transition: color .2s 1s;
  /*position: relative;*/
}
.share:hover, .share:focus-within {
  color: #6f0f11; /* Red on hover */
  transition: color .2s 0s;
}
.share .share-content {
  /*position: absolute; background: #1d351f;*/
  display: inline-block;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  transition: max-width .2s 1s;
}
.share .share-content:before {
  content: "\00a0";
}
.share .share-content:after {
  /*content: "]";*/
}
.share:hover .share-content, .share:focus-within .share-content {
  max-width: 45em;
  transition: max-width .2s 0s;
}

.puzzle-input {
  border: 1px solid #e6be9a; /* Light brown */
  background: #325832; /* Secondary green */
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}

.calendar {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.calendar > span {
  color: #325832; /* Secondary green */
}
.calendar > a {
  text-decoration: none;
  color: #e6be9a; /* Light brown */
  outline: none;
  cursor: default;
}
.calendar a:hover, .calendar a:focus {
  background-color: #325832; /* Secondary green */
  cursor: pointer;
}
#calendar-countdown {
  padding-left: .5em;
  color: #ffffff;
}
.calendar .calendar-day { color: #e6be9a; }
.calendar a .calendar-day { color: #ffffff; }
.calendar a .calendar-mark-complete,
.calendar a .calendar-mark-verycomplete { visibility: hidden; }
.calendar a.calendar-complete     .calendar-mark-complete,
.calendar a.calendar-verycomplete .calendar-mark-complete { visibility: visible; color: #e6be9a; }
.calendar a.calendar-verycomplete .calendar-mark-verycomplete { visibility: visible; color: #e6be9a; }

.calendar .calendar-day-new               { animation: anim-day-new 5s; }
.calendar .calendar-day-new .calendar-day { animation: anim-day-new-day 5s; }
@keyframes anim-day-new {
  0%   { color: #325832; text-shadow: 0 0 5px transparent; }
  25%  { color: #ffffff; text-shadow: 0 0 5px #ffffff; }
  100% { color: #e6be9a; text-shadow: 0 0 5px transparent; }
}
@keyframes anim-day-new-day {
  0%   { color: #e6be9a; text-shadow: 0 0 5px transparent; }
  25%  { color: #ffffff; text-shadow: 0 0 5px #ffffff; }
  100% { color: #ffffff; text-shadow: 0 0 5px transparent; }
}

.eventlist-event {
  white-space: pre;
}

.stats > span, .stats > span .stats-firstonly, .stats > span .stats-both {
  color: #e6be9a; /* Light brown */
}
.stats > a {
  color: #ffffff;
  min-width: 35em;
  display: inline-block;
}
.stats > a:hover, .stats > a:focus {
  background-color: #325832; /* Secondary green */
}
.stats-firstonly {
  color: #e6be9a; /* Light brown */
}
.stats-both {
  color: #e6be9a; /* Light brown */
}

.leaderboard-daylinks {
  cursor: default;
}
.leaderboard-daylinks-selected {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}
.leaderboard-daydesc-first {
  color: #e6be9a; /* Light brown */
}
.leaderboard-daydesc-both {
  color: #e6be9a; /* Light brown */
}
.leaderboard-entry {
  white-space: pre;
}
.leaderboard-entry .leaderboard-totalscore {
  color: #ffffff;
}
.leaderboard-anon {
  opacity: .6;
}
.leaderboard-userphoto {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 .5em;
  text-align: center;
}
.leaderboard-userphoto img {
  height: 20px;
  max-width: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.leaderboard-time {
  opacity: .5;
}

.privboard-row {
  white-space: pre;
}
.privboard-name {
  vertical-align: text-bottom;
}
.privboard-days > span    { display: inline-block; color: #325832; }
.privboard-days > a       { display: inline-block; }
.privboard-star-locked    { visibility: hidden; }
.privboard-star-unlocked  { color: #325832; }
.privboard-star-firstonly { color: #e6be9a; }
.privboard-star-both      { color: #e6be9a; }
.privboard-delbtn { opacity:.33; }
.privboard-row:hover .privboard-delbtn { opacity:1; }

.sponsors {
  width: 46em; /*76 characters*/
}
.sponsor {
  margin: 1em 0;
}